.fill-window {
    height: 100%;
    position: relative;
    left: 0;
    width: 100%;
    overflow: visible;
}

.fill-window-jumbo {
    height: 100vh;
    position: relative;
    left: 0;
    width: 100%;
    overflow: visible;
    opacity: 0.9;
}

.bg-color{
    background-size: cover;
    background-color: #212529;
}

.grid-look{
background-image:
    linear-gradient(to right,#eed799 1px, transparent 1px),
    linear-gradient(to bottom, #eed799 1px, transparent 1px);
opacity:.75;

}
